<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{.ServiceName}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
{{template "header.go.html" .}}
<main>
    <div class="center-box sm:max-w-md">
        <h1 class="box-title">{{.ServiceName}}</h1>
        <div>Logged in as: {{.User.Name}} ({{.User.Subject}})</div>
        <form method="GET" action="/edit" class="space-y-4 md:space-y-6">
            <button type="submit" class="btn-green">Edit Profile</button>
        </form>
        <form method="GET" action="/edit/password" class="space-y-4 md:space-y-6">
            <button type="submit" class="btn-red">Change Password</button>
        </form>
        <form method="GET" action="/manage/apps" class="space-y-4 md:space-y-6">
            <button type="submit" class="btn-green">Manage Applications</button>
        </form>
        {{if .IsAdmin}}
            <form method="GET" action="/manage/users" class="space-y-4 md:space-y-6">
                <button type="submit" class="btn-green">Manage Users</button>
            </form>
        {{end}}
        {{if .OtpEnabled}}
            <form method="POST" action="/edit/otp">
                <input type="hidden" name="remove" value="1"/>
                <button type="submit" class="btn-red">Remove OTP</button>
            </form>
        {{else}}
            <form method="POST" action="/edit/otp" class="space-y-4 md:space-y-6">
                <label><input type="radio" name="digits" value="6"/> 6 digits</label>
                <label><input type="radio" name="digits" value="7"/> 7 digits</label>
                <label><input type="radio" name="digits" value="8"/> 8 digits</label>
                <button type="submit" class="btn-green">Change OTP</button>
            </form>
        {{end}}
        <form method="POST" action="/logout">
            <input type="hidden" name="nonce" value="{{.Nonce}}">
            <button type="submit" class="btn-red">Log out</button>
        </form>
    </div>
</main>
</body>
</html>
